.buy-wrap {
  .container {
    display: flex;
    // justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    // align-items: center;
    .buy-left {
      width: 72%;
      .buy__wrap-count {
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          align-items: center;
          background: #fff;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          display: flex;
          height: 40px;
          justify-content: center;
          width: 40px;
        }
        h4 {
          font-size: 20px;
          line-height: 1.6px;
          font-weight: 400;
        }
      }
      .buy-now {
        font-size: 22px;
      }
      .payment-bottom {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        .payment-type-item {
          h4 {
            // margin-top: 40px;
            //   display: inline-flex;
            margin-right: auto;
          }
        }
        .payment-types {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          input {
            display: none;
            &[type="radio"]:checked + label {
              // background-color: red;
              border: 2px solid var(--br-color);
              span {
                &::after {
                  border-radius: 50%;
                  content: "";
                  height: 100%;
                  width: 100%;
                  background-color: var(--br-color);
                  // padding: 2px;
                  flex-shrink: 0;
                  // border-radius: 50%;
                }
              }
            }
          }
          label {
            align-items: center;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            gap: 16px;
            height: 100%;
            padding: 2.2rem 2.6rem;
            display: flex;
            justify-content: space-between;
            span {
              align-items: center;
              border: 1px solid #e0e0e0;
              border-radius: 50%;
              display: flex;
              height: 24px;
              justify-content: center;
              padding: 4px;
              width: 24px;
              &::after {
                background: transparent;
                border-radius: 50%;
                content: "";
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
      .delivery-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 3rem;
        .payment-type-delivery {
          input {
            display: none;
            &[type="radio"]:checked + label {
              // background-color: red;
              border: 2px solid var(--br-color);
              span {
                &::after {
                  border-radius: 50%;
                  content: "";
                  height: 100%;
                  width: 100%;
                  background-color: var(--br-color);
                  // padding: 2px;
                  flex-shrink: 0;
                  // border-radius: 50%;
                }
              }
            }
          }
          label {
            align-items: center;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            gap: 16px;
            height: 100%;
            padding: 2.2rem 2.6rem;
            // width: 30%;
            span {
              position: relative;
              align-items: center;
              border: 1px solid #e0e0e0;
              border-radius: 50%;
              display: flex;
              height: 24px;
              justify-content: center;
              padding: 4px;
              width: 24px;
              &::after {
                border-radius: 50%;
                content: "";
                height: 100%;
                width: 100%;
                // padding: 2px;
                flex-shrink: 0;
                // border-radius: 50%;
              }
            }
          }
        }
      }
      .purchase-card {
        display: flex;
        gap: 10px;
        .purchase-card-img {
          img {
            height: 144px;
            object-fit: contain;
            width: 144px;
          }
        }
        .purchase__card-wrapper {
          align-items: center;
          display: flex;
          justify-content: space-between;
          width: 100%;
          h1 {
            @include font(600, 16px, 1.6);
          }
        }
      }
      .delivery-region {
        // display: flex;
        // flex-direction: column;
        .delivery__region-select {
          h4 {
            // @include font(600,16px,1.6);
            margin-bottom: 20px;
            margin-top: 30px;
            font-size: 16px;
            line-height: 1.6px;
            font-weight: 600;
          }
        }
        .delivery__region-all {
          // margin-top: 10px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;
        }
        .delivery__region {
          @include font(600, 19px, 1.6);
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .select__region-wrap {
          ul {
            // width: 100%;
            height: 150px;
            width: 100%;
            width: 468px;
            background: #f2f2f2;
            border: none;
            position: absolute;
            z-index: 66;
            padding: 10px;
            overflow: auto;
            border-radius: 5px;
            border: 1px solid #f2f2f2;
            li {
              text-align: left;
              @include font(400, 15px, 1.7);
              padding: 10px;
              width: 100%;
            }
          }
          // margin-bottom: 200px;
        }
        button {
          border: none;
          background: none;
          position: relative;
          width: 100%;
          border: 2px solid #f2f2f2;
          border-radius: 5px;
          padding: 10px;
          span {
            padding: 10px;
            text-align: left;
          }
        }
      }
      .delivery-home {
        margin-top: 40px;
        margin-bottom: 3rem;
        .home-desc {
          margin-left: 15px;
        }
        .delivery__home-wrap {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;
          margin-top: 30px;
          input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 2px solid #f2f2f2;
            outline: none;
          }
        }
      }
      .payment-location-wrap {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        margin-bottom: 20px;
        --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          0 2px 4px -2px rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
          0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px #0000001a,
          0 2px 4px -2px #0000001a;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        .location__wrap-left {
          display: flex;
          flex-direction: column;
          padding: 20px;
          gap: 10px;
          span {
            font-size: 15px;
            line-height: 1.5;
            font-weight: 500;
          }
          h4 {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 600;
          }
          h1 {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 600;
          }
        }
        .location__wrap-right {
          padding: 20px;
          button {
            padding: 10px;
            display: inline-flex;
            border: 2px solid #4675ff;
            background-color: #4675ff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
      .location__wrap-con {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .buy-right {
      width: 30%;
      .payment-right {
        background: #f7f7f7;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: -moz-fit-content;
        height: fit-content;
        padding: 50px;
        position: sticky;
        top: 10px;
        //   width: 30%;
        .all-price {
          display: flex;
          align-items: center;
          gap: 30px;
          span {
            font-size: 13px;
            line-height: 1.5;
            font-weight: 500;
          }
          h4 {
            font-size: 18px;
            line-height: 1.7;
            font-weight: 600;
          }
        }
        h5 {
          font-size: 20px;
          line-height: 1.7px;
          font-weight: 500;
        }
        button {
          background: #4675ff;
          border: 1px solid #4675ff;
          border-radius: 6px;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.2;
          padding: 12px 24px;
          transition: all 0.3s ease;
          &:hover {
            background: none;
            color: var(--br-color);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1260px) {
  .buy-wrap {
    .container {
      display: flex;
      flex-direction: column;
      .buy-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .buy-left {
        width: 100%;
        .purchase-wrap {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media screen and (max-width: 935px) {
  .buy-wrap {
    .container {
      .buy-left {
        .payment-bottom {
          // align-items: center;
          justify-content: center;
          .payment-types {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
          }
        }
      }
      // .buy-right {
      //   .payment-right {
      //     width: 500px;
      //     // max-width: 500px;
      //     .all-price {
      //       display: flex;
      //       justify-content: space-between;
      //     }
      //   }
      // }
    }
  }
}

@media screen and (max-width: 770px) {
  .buy-wrap {
    .container {
      .buy-left {
        .delivery-region {
          .select__region-wrap {
            ul {
              width: 100%;
              max-width: 510px;
            }
          }
          .delivery__region-all {
            display: grid;
            grid-template-columns: 1fr;
          }
        }
        .purchase-wrap {
          display: grid;
          gap: 40px;
          .purchase-card {
            gap: 40px;
            .purchase__card-wrapper {
              display: flex;
              // flex-direction: column;
              align-content: center;
              align-items: baseline;
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .buy-wrap {
    .container {
      // justify-content: center;
      // align-items: center;
      .buy-left {
        .delivery-region {
          .select__region-wrap {
            ul {
              width: 100%;
              max-width: 360px;
            }
          }
        }
        .buy__wrap-count {
          h4 {
            line-height: 1.7;
          }
        }
        .purchase-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .delivery-wrap {
          display: flex;
          flex-wrap: nowrap;
        }
      }
      .buy-right {
        width: 100%;
        .payment-right {
          // width: 300px;
          display: inline-flex;
          // max-width: 400px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .buy-wrap {
    .container {
      .buy-left {
        .delivery-wrap {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
// .container {
//     display: flex;
//     gap: 30px;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1580px;
//     padding-left: 20px;
//     padding-right: 20px;
//     width: 100%;
// }
// .buy-now {
//   margin-top: 60px;
//   font-size: 25px;
//   line-height: 1.7px;
//   font-weight: 600;
// }
// .buy__wrap-count {
//   margin-top: 40px;
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   span {
//     align-items: center;
//     background: #fff;
//     border: 1px solid #e0e0e0;
//     border-radius: 5px;
//     display: flex;
//     height: 40px;
//     justify-content: center;
//     width: 40px;
//   }
//   h4 {
//     font-size: 20px;
//     line-height: 1.6px;
//     font-weight: 400;
//   }
// }
// .payment-right {
//   background: #f7f7f7;
//   border: 1px solid #e0e0e0;
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   gap: 30px;
//   height: -moz-fit-content;
//   height: fit-content;
//   padding: 50px;
//   position: sticky;
//   top: 10px;
//   width: 30%;
//   .all-price {
//     display: flex;
//     align-items: center;
//     gap: 30px;
//     span {
//       font-size: 13px;
//       line-height: 1.5;
//       font-weight: 500;
//     }
//     h4 {
//       font-size: 18px;
//       line-height: 1.7;
//       font-weight: 600;
//     }
//   }
//   h5 {
//     font-size: 20px;
//     line-height: 1.7px;
//     font-weight: 500;
//   }
//   button {
//     background: #4675ff;
//     border: 1px solid #4675ff;
//     border-radius: 6px;
//     color: #fff;
//     cursor: pointer;
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.2;
//     padding: 12px 24px;
//     transition: all 0.3s ease;
//     &:hover {
//       background: none;
//       color: var(--br-color);
//     }
//   }
// }
// .basket {
//   .basket-modal__card-btn-wrapper {
//     display: none;
//   }
//   .basket__text-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }
// .payment-bottom {
//   .payment-type-item {
//     h4 {
//       display: inline-flex;
//       margin-right: 0;
//     }
//   }
//   .payment-types {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 30px;
//     label {
//       align-items: center;
//       border: 1px solid #e0e0e0;
//       border-radius: 5px;
//       cursor: pointer;
//       display: flex;
//       gap: 16px;
//       height: 100%;
//       padding: 2.2rem 2.6rem;
//       display: flex;
//       justify-content: space-between;
//       &::after {
//         background: transparent;
//         border-radius: 50%;
//         content: "";
//         height: 100%;
//         width: 100%;
//       }
//       span {
//         align-items: center;
//         border: 1px solid #e0e0e0;
//         border-radius: 50%;
//         display: flex;
//         height: 24px;
//         justify-content: center;
//         padding: 4px;
//         width: 24px;
//       }
//     }
//   }
// }
// .buy-left {
//     display: flex;
//     flex-direction: column;
// }
